<html>

<head>
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/js/jquery.min.js"> </script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="/static/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <style>
        .tick {
            stroke: rgb(255, 255, 254);
        }

        path,
        line {
            stroke: rgb(255, 255, 254);
        }

        text {
            stroke: rgb(255, 255, 254);
        }

        #top_cus_commission,
        #top_cus_ticket {
            position: relative;
            left: 10%;
            color: #FFC107;
        }

        #top_cus {
            position: relative;
            left: 15%;
            color: #FFC107;
        }

        .top_cus {
            display: inline-block;

        }

        #title_view_flight {
            position: relative;
            left: 17%;
            display: inline-block;
            color: #FFC107;

        }

        .date1 {
            display: inline-block;
            position: relative;
            left: 23%;
            color: #FFC107;

        }

        #view_my_commission {
            position: relative;
            left: 17%;
            display: inline-block;
            color: #FFC107;
        }


        .date {
            display: inline-block;
            position: relative;
            left: 23%;
            color: #FFC107;
        }

        h1 {
            font-size: 18px;
            position: relative;
            left: 25%;
            color: #FFC107;
        }

        #view_booking {
            position: relative;
            left: 16%;
            color: rgb(255, 255, 254);
        }

        #view_booking {
            border: 1px solid rgb(255, 255, 254);
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 25px;
            padding-bottom: 25px;
        }

        th,
        td {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 15px;
            padding-bottom: 15px;


        }

        #title_purchase_ticket {
            position: relative;
            left: 17%;
            color: #FFC107;
        }

        #TopCustomer {
            position: relative;
            left: 17%;
            color: #FFC107;

        }

        h4 {
            position: relative;
            left: 17%;
            color: rgb(255, 255, 254);
        }

        #background {
            background: url('/static/img/1.jpg') no-repeat 0px 0px;
            top: 0%;
            left: 0%;
            right: 0%;
            bottom: 0%;
            position: fixed;
        }


        #holder {
            position: relative;
            background-color: rgba(3, 3, 3, 0.57);
            left: 13%;
            width: 1000px;
            border-radius: 8px;

        }

        #logout {
            position: fixed;
            left: 10px;
            color: white;
        }
    </style>


</head>

<body>
    <div id="background"></div>
    <a href="/AgentHomeLogOut" id="logout">Logout</a>
    <div id="holder">
        <!-- <form action="/post" method="POST"> -->

        <br><br>
        <h1>Welcome Agent ID 0000{{username}}</h1>
        <!-- <input type="text" name = "blog" placeholder="your post" required/> </br>
    <input type="submit" value = Post />
</form> -->
        <div class="view_my_flight" action='/AgentHome' method="GET"></div>
        <h3 id="title_view_flight">View my flight</h3>

        <div class="date">
            <div id="choose_day_start">
                <h5>Day Start</h5>
                <input id="datepicker1" size='10' name="Text1" type="text" value="mm/dd/yyyy" onfocus="this.value = '';"
                    onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
            </div>
        </div>
        <div class="date">
            <div id="choose_day_end">
                <h5>Day End</h5>
                <input id="datepicker2" size='10' name="Text2" type="text" value="mm/dd/yyyy" onfocus="this.value = '';"
                    onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
            </div>
        </div>
        <div class="date">
            <div id="choose_day_end">
                <h5>Source City</h5>
                <input type="text" size="10" id="Source_City" name="SourceCity" placeholder="Source city" />
            </div>
        </div>
        <div class="date">
            <div id="choose_day_end">
                <h5>Source Airport</h5>
                <input type="text" size="10" id="Source_Airport" name="SourceAirport" placeholder="Source Airport" />
            </div>
        </div>
        <div class="date">
            <div id="choose_day_end">
                <h5>Dest City</h5>
                <input type="text" size="10" id="Dest_City" name="DestinationAirport" placeholder="Dest Airport" />
            </div>
        </div>
        <div class="date">
            <div id="choose_day_end">
                <h5>Dest Airport</h5>
                <input type="text" size="10" id="Dest_Airport" name="DestinationAirport" placeholder="Dest Airport" />
            </div>
        </div>
        <div style="height:300px;overflow:auto;">
            <table id="view_booking">
                <th>Ticket ID</th>
                <th>Airline Name</th>
                <th>Customer Email</th>
                <th>Date</th>

                {% for line in posts %}
                <tr>
                    <td>{{line[0]}}</td>
                    <td>{{line[1]}}</td>
                    <td>{{line[2]}}</td>
                    <td>{{line[3]}}</td>

                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="Purchase Ticket">
            <h3 id="title_purchase_ticket"><a style = "color: #FFC107;"href="/AgentPurchase">Purchase Ticket</a></h3>
        </div>

        <div class="view_my_commission" action='/AgentCommission' method="POST">
            <h3 id="view_my_commission">View My Commission</h3>
            <div class="date1">
                <div id="choose_day_start">
                    <h5>Day Start</h5>
                    <input id="day_start" size='10' name="Text1" type="text" value="mm/dd/yyyy"
                        onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}"
                        required="">
                </div>
            </div>
            <div class="date1">
                <div id="choose_day_end">
                    <h5>Day End</h5>
                    <input id="day_end" size='10' name="Text2" type="text" value="mm/dd/yyyy" onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
                </div>
            </div>
            <h4 id="place_total_commission">Total Commission : {{commission[0]}} RMB</h4>
            <h4 id="place_average_commission">Commision / Ticket : {{commission[1]}} RMB</h4>
            <h4 id="place_total_ticket">Total Ticket Purchased: {{commission[2]}}</h4>

            <div class="Top customer">

                <h3 id="TopCustomer">View Top Customers</h3>
                <div id="top_cus">
                    <div class="top_cus">
                        <h4>By Number of Tickets: </h4>

                        <div id="top_cus_ticket"></div>
                    </div>
                    <div class="top_cus">
                        <h4>By Commission Made: </h4>
                        <div id="top_cus_commission"></div>
                    </div>
                </div>
            </div>
        </div>


        <script>
            var dataset = {{top_cus[0]|tojson}};
            console.log(dataset);
            var width = 300;
            var height = 300;
            var margin = {
                'left': 30,
                'right': 30,
                'top': 30,
                'bottom': 30
            };
            var svg = d3.select("#top_cus_ticket")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom);
            var xScale = d3.scaleBand()
                .domain(dataset.map(function (d) {
                    return d[0];
                }))
                .range([0, width])
                .padding(0.4);
            var yScale = d3.scaleLinear()
                .domain([0, d3.max(dataset, function (d) {
                    return d[1];
                })])
                .range([height, 0]);
            svg.append("g")
                .attr("transform", "translate(" + margin.left + "," + (height + margin.top) + ")")
                .call(d3.axisBottom(xScale));
            svg.append("text")
                .text("Customer")
                .attr("y", height + margin.top + 10)
                .attr("dx", width + margin.left + 15)
                .style("font-size", 12)
                .style("text-anchor", "end");
            svg.append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
                .call(d3.axisLeft(yScale));
            svg.append("text")
                .text("Tickets")
                .attr("transform", "rotate(-90)")
                .attr("y", 40)
                .attr("dx", -30)
                .style("font-size", 12)
                .style("text-anchor", "end");
            svg.append('g')
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
                .attr("width", width)
                .attr("height", height)
                .selectAll("rect")
                .data(dataset)
                .enter()
                .append("rect")
                .attr("x", function (d, i) {
                    return xScale(d[0]);
                })
                .attr("y", function (d) {
                    return yScale(d[1]);
                })
                .attr("width", xScale.bandwidth())
                .attr("height", function (d) {
                    return height - yScale(d[1]);
                })
                .attr("fill", "#B3E5FC")
                .attr("stroke", "rgb(255,255,254)")
                .attr("stroke-width", "2");
        </script>
        <script>
            var dataset = {
                {
                    top_cus[1] | tojson
                }
            };
            console.log(dataset);
            var width = 300;
            var height = 300;
            var margin = {
                'left': 40,
                'right': 40,
                'top': 30,
                'bottom': 30
            };
            var svg = d3.select("#top_cus_commission")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom);
            var xScale = d3.scaleBand()
                .domain(dataset.map(function (d) {
                    return d[0];
                }))
                .range([0, width])
                .padding(0.4);
            var yScale = d3.scaleLinear()
                .domain([0, d3.max(dataset, function (d) {
                    return d[1];
                })])
                .range([height, 0]);
            svg.append("g")
                .attr("transform", "translate(" + margin.left + "," + (height + margin.top) + ")")
                .call(d3.axisBottom(xScale));
            svg.append("text")
                .text("Customer")
                .attr("y", height + margin.top + 10)
                .attr("dx", width + margin.left + 15)
                .style("font-size", 12)
                .style("text-anchor", "end");
            svg.append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
                .call(d3.axisLeft(yScale));
            svg.append("text")
                .text("Commission")
                .attr("transform", "rotate(-90)")
                .attr("y", 40)
                .attr("dx", -30)
                .style("font-size", 12)
                .style("text-anchor", "end");
            svg.append('g')
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
                .attr("width", width)
                .attr("height", height)
                .selectAll("rect")
                .data(dataset)
                .enter()
                .append("rect")
                .attr("x", function (d, i) {
                    return xScale(d[0]);
                })
                .attr("y", function (d) {
                    return yScale(d[1]);
                })
                .attr("width", xScale.bandwidth())
                .attr("height", function (d) {
                    return height - yScale(d[1]);
                })
                .attr("fill", "#B3E5FC")
                .attr("stroke", "rgb(255,255,254)")
                .attr("stroke-width", "2");
        </script>
        <script>
            document.getElementById("datepicker2").onchange = btnClick;
            document.getElementById("Source_City").onchange = btnClick;
            document.getElementById("Source_Airport").onchange = btnClick;
            document.getElementById("Dest_City").onchange = btnClick;
            document.getElementById("Dest_Airport").onchange = btnClick;


            function btnClick(e) {
                e.preventDefault();
                var data = {};
                data["datepicker1"] = document.getElementById("datepicker1").value;
                data["datepicker2"] = document.getElementById("datepicker2").value;
                data["Source_City"] = document.getElementById("Source_City").value;
                data["Source_Airport"] = document.getElementById("Source_Airport").value;
                data["Dest_City"] = document.getElementById("Dest_City").value;
                data["Dest_Airport"] = document.getElementById("Dest_Airport").value;
                console.log(data);
                fetch("/searchBooking", {
                        headers: {
                            "Content-Type": "application/json"
                        },
                        method: 'POST',
                        body: JSON.stringify(data)
                    })
                    .then(resp => resp.json())
                    .then(result => {
                        var data = result.data;

                        var inner_html =
                            "<style>th,td{padding-left: 30px;padding-right :30px; padding-top : 15px;padding-bottom : 15px;}</style><th>Ticket ID</th><th>Airline Name</th><th>Booking Agent ID</th><th>Date</th>";
                        // for (i)
                        console.log(result);
                        for (var i = 0; i < data.length; i++) {
                            inner_html += "<tr>"
                            for (var j = 0; j < data[i].length; j++) {
                                if (data[i][j]) {
                                    inner_html += "<td>" + data[i][j].toString() + "</td>";

                                } else {
                                    inner_html += "<td>" + "       " + "</td>";
                                }

                            }
                            inner_html += "</tr>";
                        }

                        // inner_html = "<h1>changed</h1>";
                        document.getElementById("view_booking").innerHTML = inner_html;


                    });

            }
        </script>
        <!-- iteraction with the commission -->
        <script>
            document.getElementById("day_end").onchange = change_commission;

            function change_commission(e) {
                e.preventDefault();
                var data = {};
                data["day_start"] = document.getElementById("day_start").value;
                data["day_end"] = document.getElementById("day_end").value;
                if (document.getElementById("day_start").value == '') {
                    alert("Please specify a starting day for search!");
                } else {
                    fetch("/searchComission", {
                            headers: {
                                "Content-Type": "application/json"
                            },
                            method: 'POST',
                            body: JSON.stringify(data)
                        })
                        .then(resp => resp.json())
                        .then(result => {
                            // console.log(result);

                            //                 "place_total_commission">Total Commission :  {{commission[0]}} RMB</h4>
                            // <h4 id = "place_average_commission">Commision / Ticket :  {{commission[1]}} RMB</h4>
                            // <h4 id = "place_total_ticket">Tota
                            document.getElementById("place_total_commission").innerHTML = "Total Commission :  " +
                                result.total_commission.toString() + " RMB";
                            document.getElementById("place_average_commission").innerHTML =
                                "Commision / Ticket :  " + result.average_commission.toString() + " RMB";
                            document.getElementById("place_total_ticket").innerHTML = "Total Ticket Purchased: " +
                                result.total_ticket.toString();

                        })

                }


            }
        </script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />

        <!-- <script src="/static/js/jquery-ui.js"></script> -->
        <script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
        <script>
            $(function () {
                $("#datepicker1,#datepicker2,#day_start,#day_end").datepicker();
            });
        </script>
        <!-- //Calendar -->
        <!--quantity-->
        <script>
            $('.value-plus').on('click', function () {
                var divUpd = $(this).parent().find('.value'),
                    newVal = parseInt(divUpd.text(), 10) + 1;
                divUpd.text(newVal);
            });

            $('.value-minus').on('click', function () {
                var divUpd = $(this).parent().find('.value'),
                    newVal = parseInt(divUpd.text(), 10) - 1;
                if (newVal >= 1) divUpd.text(newVal);
            });
        </script>
        <!--//quantity-->
        <!--load more-->
        <script>
            $(document).ready(function () {
                size_li = $("#myList li").size();
                x = 1;
                $('#myList li:lt(' + x + ')').show();
                $('#loadMore').click(function () {
                    x = (x + 1 <= size_li) ? x + 1 : size_li;
                    $('#myList li:lt(' + x + ')').show();
                });
                $('#showLess').click(function () {
                    x = (x - 1 < 0) ? 1 : x - 1;
                    $('#myList li').not(':lt(' + x + ')').hide();
                });
            });
        </script>
        <!-- //load-more -->



</body>


</html>