<html>

<head>
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/js/jquery.min.js"> </script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="/static/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <style>
        #month_num,#year_num{
            display:inline-block;
            position:relative;
        }
        #month_num{
            left:23%;
        }
        #year_num{
            left:30%;
        }
        #table_view_purchase,#table_mf_customer_flight{
                border: 1px solid rgb(255, 255, 254);
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 900px;
                position:relative;
                left:5%;
            }
            th,
            td {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                color: white;
                text-align: center;


            }

        #background {
            background: url('/static/img/1.jpg') no-repeat 0px 0px;
            top: 0%;
            left: 0%;
            right: 0%;
            bottom: 0%;
            position: fixed;
        }
        h1{
            position:relative;
            left:28%;
        }


        #holder {
            position: relative;
            background-color: rgba(3, 3, 3, 0.57);
            left: 13%;
            width: 1000px;
            border-radius: 8px;

        }

        #logout {
            position: fixed;
            left: 10px;
            color: white;
        }
        
        #title_view_flight,#mf_customer_title {
            position: relative;
            left: 17%;
            display: inline-block;
            color: #FFC107;

        }
        #create_new_flight{
            position:relative;
            color: #FFC107;
            top:20px;
            left:17%;

        }
        .view_my_flight{
            position:relative;
            top: 27px;
        }

        #title_purchase_ticket {
            position: relative;
            left: 17%;
            color: #FFC107;
        }
        .date{
           
            display: inline-block;
            position: relative;
            left: 23%;
            color: #FFC107;
        
        }
        h3{
            color: #FFC107;
            left: 17%;
            position:relative;

        }
        h5{
            color: #FFC107;
          
            position:relative;

        }
        #by_ticket_num,#by_commission,#mf_customer{
            color: #FFC107;
          position:relative;
          left:22%;
        }

       


    </style>


</head>

<body>
        <div id="background"></div>
        <a href="/StaffHomeLogOut" id="logout">Logout</a>
        <div id="holder">
            
    
            <br><br>
            <h1 style = "color:#FFC107;">Welcome Staff {{username}} from {{airline}}</h1>
   



        <div class="view_my_flight" method="GET">
                <h3 id="title_view_flight">View my flights</h3>

                <div class="date">
                    <div id="choose_day_start">
                        <h5>Day Start</h5>
                        <input id="datepicker1" size='10' name="Text1" type="text" value="mm/dd/yyyy" onfocus="this.value = '';"
                            onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
                    </div>
                </div>
                <div class="date">
                    <div id="choose_day_end">
                        <h5>Day End</h5>
                        <input id="datepicker2" size='10' name="Text2" type="text" value="mm/dd/yyyy" onfocus="this.value = '';"
                            onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
                    </div>
                </div>
                <div class="date">
                    <div id="choose_day_end">
                        <h5>Source city</h5>
                        <input type="text" size="10" id="Source_City" name="SourceCity" placeholder="Source city" />
                    </div>
                </div>
                <div class="date">
                    <div id="choose_day_end">
                        <h5 style="color: #FFC107;">Source Airport</h5>
                        <input type="text" size="10" id="Source_Airport" name="SourceAirport" placeholder="Source Airport" />
                    </div>
                </div>
                <div class="date">
                    <div id="choose_day_end">
                        <h5 style="color: #FFC107;">Dest City</h5>
                        <input type="text" size="10" id="Dest_City" name="DestinationAirport" placeholder="Dest City" />
                    </div>
                </div>
                <div class="date">
                    <div id="choose_day_end">
                        <h5 style="color: #FFC107;">Dest Airport</h5>
                        <input type="text" size="10" id="Dest_Airport" name="DestinationAirport" placeholder="Dest Airport" />
                    </div>
                </div>
        
                <div style="height:300px;overflow:auto;">
                    <table id="table_view_purchase">
                        <th>Airline</th>
                        <th>Flight Num</th>
                        <th>Depart Air</th>
                        <th>Depart Time</th>
                        <th>Arrival Air</th>
                        <th>Arrival Time</th>
                        <th>Status</th>
                        <th>Check Customer</th>
        
                        {% for line in default_flights %}
                        <tr>
                            <td>{{line[0]}}</td>
                            <td>{{line[1]}}</td>
                            <td>{{line[2]}}</td>
                            <td>{{line[3]}}</td>
                            <td>{{line[4]}}</td>
                            <td>{{line[5]}}</td>
                            <td>{{line[6]}}</td>
                            <td><button type="button">Check</button> </td>
        
                        </tr>
                        {% endfor %}
                    </table>
                </div>

        </div>
        <!-- communicating with route /ViewFlightsByDates for getting upcomming flight infor -->
        <script>
            document.getElementById("datepicker2").onchange = renew_flight;
            document.getElementById("Source_City").onchange = renew_flight;
            document.getElementById("Source_Airport").onchange = renew_flight;
            document.getElementById("Dest_City").onchange = renew_flight;
            document.getElementById("Dest_Airport").onchange = renew_flight;

            function renew_flight(e){
                e.preventDefault();
            var data = {};
            data["datepicker1"] = document.getElementById("datepicker1").value;
            data["datepicker2"] = document.getElementById("datepicker2").value;
            data["Source_City"] = document.getElementById("Source_City").value;
            data["Source_Airport"] = document.getElementById("Source_Airport").value;
            data["Dest_City"] = document.getElementById("Dest_City").value;
            data["Dest_Airport"] = document.getElementById("Dest_Airport").value;
            console.log(data);
            fetch("/ViewFlightsByDates", {
                    headers: {
                        "Content-Type": "application/json"
                    },
                    method: 'POST',
                    body: JSON.stringify(data)
                })
                .then(resp => resp.json())
                .then(result => {
                   
                     console.log(result);
                     var inner_html =
                        "<style>th,td{text-align: center;padding-left: 10px;padding-right :10px; padding-top : 10px;padding-bottom : 10px;}</style><th>Airline</th><th>Flight Num</th><th>Depart Air</th><th>Depart Time</th><th>Arrival Air</th><th>Arrival Time</th><th>Status</th><th>Check Customer</th>";
                    // for (i)
                    console.log(result);
                    for (var i = 0; i < result.length; i++) {
                        inner_html += "<tr>"
                        for (var j = 0; j < result[i].length; j++) {
                            if (result[i][j]) {
                                inner_html += "<td>" + result[i][j].toString() + "</td>";

                            } else {
                                inner_html += "<td>" + "" + "</td>";
                            }

                        }
                        inner_html += "<td><button type='button'>Check</button></td></tr>";
                    }

                    // inner_html = "<h1>changed</h1>";
                    document.getElementById('table_view_purchase').innerHTML = inner_html;


                     })


            }
        </script>

        <div class = "create_new_flight">
            <h3 id="create_new_flight">Create New Flight</h3>


        </div>
        <div class = "change_flight_status">
            <h3 id="change_flight_status">Change Flight Status</h3>

        </div>
        <div class = "add_plane">
            <h3 id="add_plane">Add Planes</h3>

        </div>
        <div class = "add_airport">
            <h3 id="add_airport">Add Airports</h3>

        </div>
        <div class = "view_booking_agent">
            <h3 id="view_booking_agent">View Top Booking Agents</h3>
            <h4 id = "by_ticket_num"> By Ticket Number</h4>
            <div id = "month_num">
                <h5  id = "last_month">Last Month:</h5>
                <table>
                    <th>Agent_email</th>
                    <th>Agent ID</th>
                    <th>Ticket Num</th>
                    {% for line in agents_month %}
                        <tr>
                            <td>{{line[0]}}</td>
                            <td>{{line[1]}}</td>
                            <td>{{line[2]}}</td>
                           
                          
        
                        </tr>
                        {% endfor %}
                    
                </table>
            </div>
            <div id = "year_num">
                <h5  id = "last_year">Last Year:</h5>
                <table>
                        <th>Agent_email</th>
                        <th>Agent ID</th>
                        <th>Ticket Num</th>
                        {% for line in agents_year %}
                            <tr>
                                <td>{{line[0]}}</td>
                                <td>{{line[1]}}</td>
                                <td>{{line[2]}}</td>
                               
                              
            
                            </tr>
                            {% endfor %}
                        
                    </table>
            </div>
            <h4 id = "by_commission"> By Commission</h4>
               
            <div id = "year_num">
                    <h5  id = "last_year">Last Year:</h5>
                    <table>
                            <th>Agent_email</th>
                            <th>Agent ID</th>
                            <th>Ticket Num</th>
                            {% for line in agents_comm %}
                                <tr>
                                    <td>{{line[0]}}</td>
                                    <td>{{line[1]}}</td>
                                    <td>{{line[2]}}</td>
                                   
                                  
                
                                </tr>
                                {% endfor %}
                            
                        </table>
                </div>
            

        </div>
        <div class = "view_freq_customer">
            
                <h4  style = "color: #FFC107" id = "mf_customer_title">Most Frequent Customer: </h4>
            <div id = 'mf_customer'>
                <h5 style= "color: white" id = "mf_customer">Customer_email: {{mf_customer[0]}}    </h5>
                <h5 style = "color:white;" id = "mf_customer">Number of Flights Purchased:  {{mf_customer[2]}}</h5>
            </div>
            <div style="height:300px;overflow:auto;">
                    <table id="table_mf_customer_flight" >
                        <th>Airline</th>
                        <th>Flight Num</th>
                        <th>Depart Air</th>
                        <th>Depart Time</th>
                        <th>Arrival Air</th>
                        <th>Arrival Time</th>
                        <th>price</th>
                   
        
                        {% for line in c_flights %}
                        <tr>
                            <td>{{line[0]}}</td>
                            <td>{{line[1]}}</td>
                            <td>{{line[2]}}</td>
                            <td>{{line[3]}}</td>
                            <td>{{line[4]}}</td>
                            <td>{{line[5]}}</td>
                            <td>{{line[6]}}</td>
                         
        
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            
            </div>
                
            

        </div>
        <div class = "view_report">
            <h3 id="view_report">View Total Report</h3>
            <div id = "conditional_graph">
            <div class = "date">
                <div id = "total_sale_range">
                <h4> Total Sale : {{total_sale_ly}} Tickets</h4>
                </div>
            </div>

            <div class="date">
                    <div id="choose_day_start">
                        <h5>Day Start</h5>
                        <input id="datepicker3" size='10' name="Text1" type="text" value="mm/dd/yyyy" onfocus="this.value = '';"
                            onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
                    </div>
            </div>
            <div class="date">
                    <div id="choose_day_end">
                        <h5>Day End</h5>
                        <input id="datepicker4" size='10' name="Text2" type="text" value="mm/dd/yyyy" onfocus="this.value = '';"
                            onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
                    </div>
            </div>
        </div>
        <div id = "monly_graph_condition"></div>
        <script>
                var dataset = {{year_sales}};
                console.log(dataset);
                //    for (var i = 0 ; i<6;i++){
                //     dataset[i][0] = dataset[i][0]
                //    }
                //    dataset = [["5",2000],["6",2000],["7",2500],["8",1000],["9",2000],["10",1500]]
                var width = 300;
                var height = 300;
                var margin = {
                    'left': 50,
                    'right': 50,
                    'top': 50,
                    'bottom': 50
                };
                var svg = d3.select("#monly_graph_condition")
                    .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom);
                var xScale = d3.scaleBand()
                    .domain(dataset.map(function (d) {
                        return d[0];
                    }))
                    .range([0, width])
                    .padding(0.3);
                var yScale = d3.scaleLinear()
                    .domain([0, d3.max(dataset, function (d) {
                        return d[1];
                    })])
                    .range([height, 0]);
                var xAxis = svg.append("g")
                    .attr("id", "xAxisDraw")
                    .attr("transform", "translate(" + margin.left + "," + (height + margin.top) + ")")
                    .attr("color", "rgb(255,255,254)")
                    .call(d3.axisBottom(xScale));
                svg.append("text")
                    .text("Month")
                    .attr("id", "xAxisText")
                    .attr("y", height + margin.top + 20)
                    .attr("dx", width + margin.left + 5)
                    .attr("color", "rgb(255,255,254)")
                    .style("font-size", 12)
                    .style("text-anchor", "end");
                var yAxis = svg.append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
                    .attr("id", "yAxisDraw")
                    .attr("color", "rgb(255,255,254)")
                    .call(d3.axisLeft(yScale));
                svg.append("text")
                    .attr("id", "yAxisText")
                    .text("Ticket Sale")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 60)
                    .attr("dx", -40)
                    .attr("color", "rgb(255,255,254)")
                    .style("font-size", 12)
                    .style("text-anchor", "end");
                svg.append('g')
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
                    .attr("width", width)
                    .attr("height", height)
                    .selectAll("rect")
                    .data(dataset)
                    .enter()
                    .append("rect")
                    .attr("class", "monthly_graph")
                    .attr("x", function (d, i) {
                        return xScale(d[0]);
                    })
                    .attr("y", function (d) {
                        return yScale(d[1]);
                    })
                    .attr("width", xScale.bandwidth())
                    .attr("height", function (d) {
                        return height - yScale(d[1]);
                    })
                    .attr("fill", "#C1CBCE")
        
                    .attr("stroke", "grey")
                    .attr("stroke-width", "2");
            </script>
        
            <div class = "monthly graph">
                    <div id = "monthly_sale">
                    <h4> Monthly sale: </h4>
                    </div>
            </div>

        </div>
        <div class ="revenue_comparison">
            <h3 id="revenue_comparison">Compare Revenue Source</h3>

        </div> 
        <div class = "top_destination">
            <h3 id="top_destination">View Top Destination</h3>

        </div>


</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />

<!-- <script src="/static/js/jquery-ui.js"></script> -->
<script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
<script>
    $(function () {
        $("#datepicker1,#datepicker2,#datepicker3,#datepicker4,#date_start,#date_end").datepicker();
    });
</script>
<!-- //Calendar -->
<!--quantity-->
<script>
    $('.value-plus').on('click', function () {
        var divUpd = $(this).parent().find('.value'),
            newVal = parseInt(divUpd.text(), 10) + 1;
        divUpd.text(newVal);
    });

    $('.value-minus').on('click', function () {
        var divUpd = $(this).parent().find('.value'),
            newVal = parseInt(divUpd.text(), 10) - 1;
        if (newVal >= 1) divUpd.text(newVal);
    });
</script>
<!--//quantity-->
<!--load more-->
<script>
    $(document).ready(function () {
        size_li = $("#myList li").size();
        x = 1;
        $('#myList li:lt(' + x + ')').show();
        $('#loadMore').click(function () {
            x = (x + 1 <= size_li) ? x + 1 : size_li;
            $('#myList li:lt(' + x + ')').show();
        });
        $('#showLess').click(function () {
            x = (x - 1 < 0) ? 1 : x - 1;
            $('#myList li').not(':lt(' + x + ')').hide();
        });
    });
</script>


</body>


</html>